<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <SpringProfile name="local">
                <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            </SpringProfile>
            <SpringProfile name="!local">
                <JsonTemplateLayout eventTemplateUri="classpath:LogJsonTemplate.json" />
            </SpringProfile>
        </Console>
        <RollingFile name="LogToRollingFile" fileName="logs/SYS/app.log"
                     filePattern="logs/SYS/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework.boot" level="INFO" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToRollingFile"/>
        </Logger>
        <Logger name="com.clt" level="DEBUG" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToRollingFile"/>
        </Logger>
        <Root level="WARN">
            <AppenderRef ref="LogToConsole" />
            <AppenderRef ref="LogToRollingFile" />
        </Root>
    </Loggers>
</Configuration>
