<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clt.hrm.core.administration.role.mapper.AdmRoleMapper">
	<select id="searchRoleList" parameterType="com.clt.hrm.core.administration.role.dtos.SearchRoleDto" resultType="com.clt.hrm.core.administration.role.dtos.RoleDto">
			SELECT ROLE.CO_ID,
				ROLE.ROLE_ID, 
				ROLE.ROLE_CD,
				ROLE.ROLE_NM,
				ROLE.ROLE_DESC,
				ROLE.USE_FLG, 
				ROLE.CRE_DT, 
				ROLE.CRE_USR_ID, 
				ROLE.UPD_DT,
				ROLE.UPD_USR_ID 
			FROM ADM_ROLE ROLE
			WHERE 1=1 
				AND ROLE.CO_ID = #{coId} 
			<if test="roleId != null and roleId != ''">
				AND ROLE.ROLE_ID = #{roleId}
			</if>
			<if test="roleCd != null and roleCd != ''">
				AND ROLE.ROLE_CD = #{roleCd}
			</if>
	        <if test="roleNm != null and roleNm != ''">
				AND ROLE.ROLE_NM ILIKE '%' || #{roleNm} || '%'
			</if>
	        <if test="useFlg != null and useFlg != ''">
				AND ROLE.USE_FLG = #{useFlg}
			</if>
			<choose>
			    <when test="sort.sortField != null and sort.sortField != ''">
			      ORDER BY ${sort.sortField} ${sort.sortType}, UPD_DT DESC
			    </when>
			    <otherwise>
			      ORDER BY UPD_DT DESC
			    </otherwise>
			</choose>
	        <if test="pagination.current != null and pagination != ''">
				LIMIT #{pagination.pageSize} OFFSET (#{pagination.current} - 1) * #{pagination.pageSize}
		    </if>
	</select>
	
	<select id="countRoleList" parameterType="com.clt.hrm.core.administration.role.dtos.SearchRoleDto" resultType="int">
		SELECT COUNT(*)
			FROM ADM_ROLE ROLE
			WHERE 1=1 
				AND ROLE.CO_ID = #{coId} 
			<if test="roleId != null and roleId != ''">
				AND ROLE.ROLE_ID = #{roleId}
			</if>
			<if test="roleCd != null and roleCd != ''">
				AND ROLE.ROLE_CD = #{roleCd}
			</if>
	        <if test="roleNm != null and roleNm != ''">
				AND ROLE.ROLE_NM ILIKE '%' || #{roleNm} || '%'
			</if>
	        <if test="useFlg != null and useFlg != ''">
				AND ROLE.USE_FLG = #{useFlg}
			</if>
	</select>
	
	<select id="selectRoleInfo" parameterType="com.clt.hrm.core.administration.role.dtos.SearchRoleDto" resultType="com.clt.hrm.core.administration.role.dtos.RoleDto">
			SELECT ROLE.CO_ID,
				ROLE.ROLE_ID, 
				ROLE.ROLE_CD,
				ROLE.ROLE_NM,
				ROLE.ROLE_DESC,
				ROLE.USE_FLG, 
				ROLE.CRE_DT, 
				ROLE.CRE_USR_ID, 
				ROLE.UPD_DT,
				ROLE.UPD_USR_ID 
			FROM ADM_ROLE ROLE
			WHERE 1=1 
				AND ROLE.CO_ID = #{coId} 
			<if test="roleId != null and roleId != ''">
				AND ROLE.ROLE_ID = #{roleId}
			</if>
			<if test="roleCd != null and roleCd != ''">
				AND ROLE.ROLE_CD = #{roleCd}
			</if>
	        <if test="roleNm != null and roleNm != ''">
				AND ROLE.ROLE_NM ILIKE '%' || #{roleNm} || '%'
			</if>
	        <if test="useFlg != null and useFlg != ''">
				AND ROLE.USE_FLG = #{useFlg}
			</if>
			LIMIT 1
	</select>
	
	<select id="searchRoleAuth" parameterType="com.clt.hrm.core.administration.role.dtos.SearchRoleDto" resultType="com.clt.hrm.core.administration.role.dtos.RoleAuthDto">
			SELECT
				AUTH.CO_ID,
				AUTH.ROLE_ID,
				ROLE.ROLE_CD,
				PERM.PERM_ID,
				PERM.PERM_CD,
				PGM.PGM_ID,
				PGM.PGM_CD,
				PGM.PGM_TP_CD,
				AUTH.USE_FLG AS ACTIVE_YN
			FROM
				ADM_ROLE_AUTH AUTH
			LEFT JOIN ADM_ROLE ROLE ON
				(AUTH.CO_ID = ROLE.CO_ID
					AND AUTH.ROLE_ID = ROLE.ROLE_ID)
			LEFT JOIN COM_PGM PGM ON
				(AUTH.CO_ID = PGM.CO_ID
					AND AUTH.PGM_ID = PGM.PGM_ID)
			LEFT JOIN COM_PERM PERM ON
				(AUTH.CO_ID = PERM.CO_ID
					AND AUTH.PERM_ID = PERM.PERM_ID)
			WHERE 1=1 
				AND AUTH.CO_ID = #{coId} 
			<if test="roleId != null and roleId != ''">
				AND AUTH.ROLE_ID = #{roleId}
			</if>
			<if test="roleCd != null and roleCd != ''">
				AND ROLE.ROLE_CD = #{roleCd}
			</if>
			<if test="pgmId != null and pgmId != ''">
				AND AUTH.PGM_ID = #{pgmId}
			</if>
	        <if test="useFlg != null and useFlg != ''">
				AND ROLE.USE_FLG = #{useFlg}
			</if>
	</select>

	<insert id="insertRole" parameterType="com.clt.hrm.core.administration.role.dtos.RoleDto">
		<selectKey keyProperty="roleId" resultType="String" order="BEFORE">
	        SELECT get_mdl_seq2(#{coId}, 'ROLE', 6)
	    </selectKey>
		INSERT INTO ADM_ROLE (
			CO_ID,
			ROLE_ID,
			ROLE_CD,
			ROLE_NM,
			ROLE_DESC,
			USE_FLG,
			CRE_USR_ID,
			UPD_USR_ID,
			CRE_DT,
			UPD_DT
		) VALUES (
			#{coId},
			#{roleId},
			#{roleCd},
			#{roleNm},
			#{roleDesc},
			COALESCE(#{useFlg}, 'Y'),
			#{creUsrId},
			#{creUsrId},
			NOW(),
			NOW()
		)
	</insert>
	
	<insert id="insertRoleAuth" parameterType="com.clt.hrm.core.administration.role.dtos.RoleAuthDto">
		INSERT INTO ADM_ROLE_AUTH (
			CO_ID,
			ROLE_ID,
			PGM_ID,
			PERM_ID,
			USE_FLG,
			CRE_USR_ID,
			UPD_USR_ID,
			CRE_DT,
			UPD_DT
		) VALUES (
			#{coId},
			#{roleId},
			#{pgmId},
			#{permId},
			COALESCE(#{useFlg}, 'Y'),
			#{creUsrId},
			#{creUsrId},
			NOW(),
			NOW()
		)
	</insert>

	<update id="updateRole" parameterType="com.clt.hrm.core.administration.role.dtos.RoleDto">
		UPDATE ADM_ROLE
		SET
			ROLE_CD = #{roleCd},
			ROLE_NM = #{roleNm},
			ROLE_DESC = #{roleDesc},
			USE_FLG = #{useFlg},
			UPD_USR_ID = #{updUsrId},
			UPD_DT = NOW()
		WHERE CO_ID = #{coId}
		AND ROLE_ID = #{roleId}
	</update>
	
	<delete id="deleteAllRoleAuth" parameterType="com.clt.hrm.core.administration.role.dtos.RoleDto">
		DELETE FROM ADM_ROLE_AUTH
			WHERE CO_ID = #{coId}
			AND ROLE_ID = #{roleId}
	</delete>
	
	<delete id="deleteRoleAuth" parameterType="com.clt.hrm.core.administration.role.dtos.RoleAuthDto">
		DELETE FROM ADM_ROLE_AUTH AUTH
			WHERE AUTH.CO_ID = #{coId}
			<if test="roleId != null and roleId != ''">
				AND AUTH.ROLE_ID = #{roleId}
			</if>
			<if test="pgmId != null and pgmId != ''">
				AND AUTH.PGM_ID = #{pgmId}
			</if>
			<if test="permId != null and permId != ''">
				AND AUTH.PERM_ID = #{permId}
			</if>
	</delete>
	
	<update id="mergeRoleAuth" parameterType="com.clt.hrm.core.administration.role.dtos.RoleAuthDto">
		INSERT INTO ADM_ROLE_AUTH (
			CO_ID,
			ROLE_ID,
			PGM_ID,
			PERM_ID,
			USE_FLG,
			CRE_USR_ID,
			UPD_USR_ID,
			CRE_DT,
			UPD_DT
		)
		VALUES (
			#{coId},
			#{roleId},
			#{pgmId},
			#{permId},
			COALESCE(#{activeYn}, 'Y'),
			#{updUsrId},
			#{updUsrId},
			NOW(),
			NOW()
		)
		ON CONFLICT (CO_ID, ROLE_ID, PGM_ID, PERM_ID)
		DO UPDATE SET 
		    USE_FLG = #{activeYn},
		    UPD_USR_ID = #{updUsrId},
		    UPD_DT = NOW()
	</update>

</mapper>
