# ===============================
# APPLICATION
# ===============================
PORT=3000
NODE_ENV=development

# ===============================
# DATABASE (TypeORM + PostgreSQL)
# ===============================
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=nestjs_db
DB_SYNCHRONIZE=true
DB_LOGGING=false

# ===============================
# JWT
# Secret keys must be at least 32 characters
# Access expire: milliseconds (900000 = 15 minutes)
# Refresh expire: milliseconds (604800000 = 7 days)
# ===============================
JWT_ACCESS_SECRET=aXZuHZSrxo0gHRWe01sjNyH86OBg1AbP
JWT_REFRESH_SECRET=aXZuHZSrxo0gHRWe01sjNyH86OBg2AbP
JWT_ACCESS_EXPIRE_MS=900000
JWT_REFRESH_EXPIRE_MS=604800000
